{% extends 'recommend/base.html'%}
{% block title %}{{movies.title}}{% endblock %}

{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success">
              <strong>Окей!</strong> {{message}}
            </div>
        {% endfor %}
    </ul>
{% endif %}

<div class="container-fluid col-sm-offset-1">
    <div class="row">      
        <div class="col-sm-2 col-md-3">
                    <a href="#">
                        <img src="{{ movies.movie_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                    </a>
                    <h2></h2>
        </div>
        
        <div class="col-sm-offset-1 col-sm-4 col-md-4">
            <h1 style="color:#fff">{{movies.title}}</h1>
            <h3><small>Жанр: {{movies.genre}}</small></h3>
            <!--<div class="col-sm-offset-2 col-md-3">-->
                <h3>Описание: </h3>
                <p>
                    {{movies.description}}
                </p>
            <!--</div>-->
            <div class="col-sm-offset-0 col-sm-9">
                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' movies.id %}" onsubmit="return validateForm()"  name="ratingForm">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-lg-14">
                                    <div class="star-rating">
                                        <span>Оценка фильма</span>
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        
                                        {% if rate_flag %}
                                            <input type="hidden" name="rating" class="rating-value" value="{{movie_rating}}" >
                                        {% else %}
                                            <input type="hidden" name="rating" class="rating-value" value="0">
                                        {% endif %}
                                        {% csrf_token %}
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="button" value="Оценить">
                        </div>
                    </div>
                </form>

                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' movies.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-lg-14">
                                    <div class="star-rating">
                                        <span>Добавить в мой список</span>
                                        {% if update %}
                                        <input type="submit" class="button" value="Удалить" name="remove">
                                        {% else %}
                                        <input type="submit" class="button" value="Добавить" name="watch">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}