{% extends 'recommend/base.html'%}
{% block body %}

<h2>Список моих фильмов</h2>
<hr>
<br>

<div class="row">
    {% if movies %}
    {% for movie in movies %}
        <div class="col-md-3 ">
            <div class="thumbnail">
                <h4>{{movie.title}}</h4>
                <a href="{% url 'detail' movie.id %}">
                    <img src="{{ movie.movie_logo.url}}" class="img-responsive">
                </a>
                <h5>{{movie.genre}}</h5>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="alert alert-danger">
            <strong>Извините!</strong> Нет фильмов в вашем списке.
        </div>
    {% endif %}
</div>

{% endblock %}